<div class="section-group">
	<div class="group-box">
		INDEX GROUP
		<div>
			<p>1. test 1</p>
			<p>2. test 2</p>
			<p>3. test 3</p>
		</div>
	</div>

	<div class="group-box">
		Bicycle GROUP
		<div>
			<p>1. test 1</p>
		</div>
	</div>
</div>

<hr class="clear">